.heroMain {
    background-image: url(../assets/Rectangle\ 12.png);
}

.topSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    padding: 26px 80px 0;
}

.topSection article {
    width: 434px;
    margin-top: 120px;
}

.articleTop {
    font-size: 16px;
    font-weight: 700;
    color: #BA5624;
}

.articleBottom {
    width: 405px;
    line-height: 22px;
}

.articleMainText {
    margin: 8px 0 23px 0;
}

.articleMainText h3{
    font-family: "Montaga", serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 37px;
}

#buyNowBtn {
    margin: 37px 0 0 0;
    width: 136px;
    height: 52px;
    border: none;
    border-radius: 20px;
    background-color: #BA5624;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}

.bottomSection {
    width: 1043px;
    height: 84px;
    gap: 44px;
    display: flex;
    margin: 55px auto 25px;
}

.storeStrength {
    width: 212px;
    height: 54px;
    background-color: #EFEFEF;
    border-radius: 5px;
    display: flex;
    padding: 0 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.storeStrengthInner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: left;
}

.storeStrengthInner h5 {
    font-size: 16px;
    font-weight: 700;
}

.storeStrengthInner p {
    font-size: 12px;
    font-weight: 400;
}

.subHeroMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subHeroMain h1 {
    text-align: center;
    font-family: "Montaga", serif;
    font-size: 36px;
    position: relative;
    display: inline-block;
    margin: 0;
}

.subHeroMain h1::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 43%;
    height: 3px;
    background-color: #BA5624;
}